extends tableLayout

block content
    script(src="js/tableSort.js")
    table
        thead 
            tr 
                each column in Object.keys(data[0])
                    th 
                        button(onclick=`tableSort('${column}')`) #{column}
        tbody 
            each row in data
                tr
                    each column in row
                        td #{column}
