extends tableLayout

//- TODO: Convert this to a dynamic table that takes the headers+content from params

block content
    table
        thead 
            tr 
                th 
                    button ID
                th 
                    button Name 
                th 
                    button Price
        tbody 
            each row in data
                tr
                    td #{row.id }
                    td #{row.name}
                    td #{row.price}
