extends ../layouts/layout

block content
    header
        a(href="/") Dashboard
        a(href="/customers") Customers
        a(href="/products") Products
        a(href="/employees") Employees
        a(href="/sign-out" class="float-right") Sign out
        a(href="/change-password" class="float-right") Change password

