extends ../layouts/layout

block content
    header
        a(id="header-title") CeRoM
        a(href="/") Dashboard
        a(href="/customers") Customers
        a(href="/products") Products
        if admin
            a(href="/employees") Employees
        span(class="move-right")
        a(href="/sign-out") Sign out
        a(href="/change-password") Change password

