extends ../layouts/layout

block content
    header
        a(id="header-title") CeRoM
        a(href="/") Dashboard
        a(href="/customers") Customers
        a(href="/products") Products
        a(href="/employees") Employees
        a(href="/sign-out" class="move-right") Sign out
        a(href="/change-password") Change password

