extends layouts/layout

block content
    include includes/header.pug
    br
    form(action="/change-password/submit" method="post" class="big-form")
        label(for="current-password") Current Password:
        br
        input(type="password" placeholder="Enter your current password" name="current-password" id="current-password" autocomplete="current-password")
        br
        label(for="new-password") New Password:
        br
        input(type="password" placeholder="Enter your new password" name="new-password" id="new-password" autocomplete="new-password")
        br
        label(for="confirm-password") Confirm New Password:
        br
        input(type="password" placeholder="Confirm your new password" name="confirm-password" id="confirm-password" autocomplete="new-password")
        br
        button(type="submit") Change Password
