extends layouts/layout

block content
    include includes/header.pug
    if message
        p= message.message
    br
    form(action="/change-password/submit" method="post" class="big-form")
        label(for="current-password") Current Password:
        br
        input(type="password" placeholder="Enter your current password" name="currentPassword" id="current-password" autocomplete="current-password")
        br
        label(for="new-password") New Password:
        br
        input(type="password" placeholder="Enter your new password" name="newPassword" id="new-password" autocomplete="new-password")
        br
        label(for="confirm-password") Confirm New Password:
        br
        input(type="password" placeholder="Confirm your new password" name="confirmPassword" id="confirm-password" autocomplete="new-password")
        br
        button(type="submit") Change Password
