extends layout

block content
  include includes/header.pug
  h1 CeRoM
  p Welcome to CeRoM

  p You are logged in as: #{username}
  p You have the following permissions: [#{perms}]

  if message
    p= message.message

