extends layout

block content
  h1= title
  p Welcome to #{title}
  p For product data see #[a(href="/products") /products ]
  p For customer data see #[a(href="/customer") /customer ]
  p For employee data see #[a(href="/employee") /employee ]
