extends layout

block content
  include includes/header.pug
  h1= title
  p Welcome to #{title}
  p TODO: Login here that enables the rest of the program (Cookies)
  p For product data see #[a(href="/products") /products ]
  p For customer data see #[a(href="/customer") /customer ]
  p For employee data see #[a(href="/employee") /employee ]
