
extends layouts/layout

block content
    include includes/header.pug
    h1 #{title}
    include includes/dataTable.pug 

    if message
        p= message.message

    hr  

    if admin === true && title === "Employees"
        include includes/addEmployee.pug

    if create === true && title === "Customers"
        include includes/addCustomer.pug 

    if create === true && title === "Products"
        include includes/addProduct.pug 