extends layouts/layout

block content
    h1 Create the root admin
    p This account will have full control including the ability to create and manage regular admins

    include includes/addEmployee.pug