body {
  padding: 3em;
  padding-top: 2em;
  padding-bottom: 0em;
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

button {
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

input {
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00638a;
}

a#delete {
  color: rgb(109, 0, 0);
}

header {
  max-width: 2000px;
  font-size: 1.1rem;
  font-weight: bold;
  overflow-wrap: anywhere;

  /* padding: 10px; */
  /* border: 1px solid black; */
  /* border-radius: 5px; */
}

header a {
  padding-right: 5px;
  margin-right: 5px;
}

.float-right {
  float: right
}