table {
    border-spacing: 0;
    width: 100%;
    max-width: 2000px;
}

th,
td {
    border: solid 1px black;
    border: 1px solid #adadad;

}

td {
    padding: 0.5em;
    background-color: rgb(253, 253, 253);
}

td input {
    box-sizing: border-box;
    width: 100%;
}

th {
    background-color: rgb(236, 236, 236);
    cursor: pointer;
    box-sizing: border-box;
}

th button {
    border: none;
    width: 100%;
    height: 100%;
    padding: 0.4em;
    background-color: transparent;
    cursor: pointer;
    font-weight: 800;
    color: black;
    margin: 0px;
}

/* Corner rounding for the table, needs border-spacing 0 on the table instead of border-collapse. Extra prop for top of edit */
table tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

table tr:first-child td:last-child {
    border-top-right-radius: 5px;
}

table tr:first-child th:first-child {
    border-top-left-radius: 5px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 5px;
}