table {
    border-collapse: collapse;
}

th,
td {
    border: solid 1px black;
    padding: 0.5em;
}

th {
    background-color: rgb(236, 236, 236);
}

th button {
    border: none;
    cursor: pointer;
    font-weight: bolder;
}